{
  "presets": [
    ["react"], ["env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ]
}