{
    "host":           "dw4nbaojaawgawmeba0mdq.iot.us-east-1.amazonaws.com",
    "port":           8883,
    "clientId":       "MyRaspberryPi",
    "thingName":      "MyRaspberryPi",
    "caCert":         "root-CA.crt",
    "clientCert":     "bqqbbg8gaa-certificate.pem.crt",
    "privateKey":     "bqqbbg8gaa-private.pem.key"
} 
