@import 'fonts';

html,
body,
#main {
  font-family: 'Roboto';
  height: 100%;
  margin: 0;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  button {
    width: 100%;
  }
}